* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: 'Lato', sans-serif;

}

/* Banner - Start */

.banner {
    height: 75vh ;
    background: rgba(229, 84, 115, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: auto;
    display: flex;
} 

.banner-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-left-inner {
    height: 70%;
    width: 80%;
}

.banner-left-inner h1 {
    color: #272727;
    font-size: 2.8rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.banner-left-inner p {
    margin-bottom: 1.5rem;
}



.btn-1 {
    display: block;
    padding: .5rem 1.5rem;
    background-color: #E55473;
    color: #fff;
    font-weight: bold;
}

.banner-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.banner img {
    margin-left: 5%;
    width: 55%;
}


/* Main start */

/* Feature Section */

.featured-heading{
    height: 20vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inner-featured-heading{
    width: 45%;
    text-align: center;
}

.inner-featured-heading h1 {
    margin-bottom: 9px;
    letter-spacing: 2px;
    font-weight: bolder;

}

/* Feature Image */

.feature-flower {
    height: 70vh;
    width: auto ;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;

}

.feature-flower-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 21%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.feature-flower-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 21%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-flower-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 21%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Flower Text */

.flower-text {
    height: 5vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% ;
    margin-bottom: 5rem;
    
}

.flower-text p {
    text-decoration: underline;
}


/* Service */

.service {
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.inner-service {
    background-color: #2727270D;
    height: 80%;
    width: 70% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery{
    height: 50%;
    width: 28%;
    text-align: center;
}

.product {
    height: 50%;
    width: 28%;
    text-align: center;
}

.support {
    height: 50%;
    width: 28%;
    text-align: center;
}


/* Hot deal */

.hot-deal{
    background-color: #E554730D;
    height: 60vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hot-deal{
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hot-deal-left{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around; 

}

.inner-hot-deal-left button {
    padding: 8px 14px;
    background-color: #E55473;
    color: #fff;
}

.inner-hot-deal-right{
    height: 65%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-hot-deal-right img {
    width: 42%;
}

/* Instagram */

.instagram {
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inner-instagram{
    height: 60%;
    width: 40%;
    text-align: center;
}



/* Instagram Gellary */

.instagram-gellary {
    height: 60vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram h1 {
    margin-bottom: 1rem;
}

.inner-instagram-gellary {
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.instagram-photo {
    width: 22%;
}

/* Form-Side */

.form{
    height: 55vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-form {
    height: 80%;
    width: 78%;
    background-image: url("Flower/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-content: center;
}

.inner-form-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-form-subscrive {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;

}

.inner-form-subscrive input {
    padding: 8px 66px ;
    border-radius: 8px;
    border: 1px solid;
}

.inner-form-subscrive button {
    padding: 8px 3px 8px;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
}

/* Footer */

footer {
    height: 40vh;
    width: auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.inner-footer {
    height: 55%;
    width: 45%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
